.Belgium{
    background-color:gold;
    width: 150px;
    height: 200px;
    

}
.Flag{
    background-color:black;
    width: 75px;
    height: 200px;
    margin-right: auto;
    
    
}
.Display{
    background-color:red;
    width: 75px;
    height: 200px;
    margin-right: auto;
    
    
    


    

}