.German{
    background-color: black;
    width: 600px;
    height: 200px;
    
    
}
.Flag{
    background-color:gold;
    width: 300px;
    height: 33%;
    margin-top: auto;
   
    

}
.Display{
    background-color: red;
    width: 300px;
    height: 34%;
    
    


}
